*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared styles */
.font-open-sans{
    /* styles for font types*/
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color:#FD6E0A ;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;

}

/*main styles */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
/*style for navigation bar*/
nav{
width: 71%;
max-width: 1140px;
margin: 0px auto;
display: flex;/*this nav has 2 child 1.list &2.logo */
justify-content: space-between;/* child 2tar moddhe jojon jojon durotto chaile */
align-items: center;/* child 2ta ke horizontally eki center e anbe */
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}